*.db
*.db-shm
*.db-wal
*.vsidx
Exo 3/.vs/Exo 3/v17/.suo
*.opendb
*.json
*.ipch
*.sln
*.vcxproj
*.user
*.filters
*.obj
*.recipe
*.log
*.ilk
*.tlog
*.pdb
*.exe
*.idb
Exo 4/.vs/Exo 4/v17/.suo
/Exo 5/.vs/Exo 5/v17
/Exo 6/.vs
Exo 7/.vs/Exo 7/v17/.suo
Exo 8/.vs/Exo 8/v17/.suo
Exo 10/.vs/Exo 10/v17/.suo
Exo 11/.vs/Exo 11/v17/.suo
Exo 9/.vs/Exo 9/v17/.suo
Exo 12/.vs/Exo 12/v17/.suo
Exo 13/.vs/Exo 13/v17/.suo
Exo 14/.vs/Exo 14/v17/.suo
